<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RacconStack | Register bank</title>
    <link rel="stylesheet" href="../Styles/style_views_global.css">
    <link rel="stylesheet" href="../Styles/style_header_global.css">
    
</head>
<body>
    <div class="header" id="header">
        <button class="btn_icon_header" onclick="toggle_sidebar()">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                </svg>
        </button>
        <div class="logo_header">
            <img src="../Images/raccon_2.png" alt="img_raccon">
        </div>
        <div class="navigation" id="navigation">
            <button class="btn_icon_header" onclick="toggle_sidebar()">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                  </svg>
            </button>
            <a href="../home.html" class="back">Back</a>
        </div>
     </div>
     <div class="content" id="content" onclick="closed_sidebar()" tabindex="0">
        <div class="box_2">
            <form action="">
                <h1>bank</h1>
                
            </form>
        </div>
    </div>  
    <script src="../Script/script.js"></script>
</body>

</html>
