/*CORRIGIR O BUG VISUAL DE QUEBRA DE LINHA*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    width: 100%;
    height: 100hv;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d5ffff;
}

.container{
    width: 80%;
    height: 80hv;
    margin-top: 5%;
    
}

.form_register{
    width: 100%;
    display: relative;
    justify-content:center;
    align-items: center;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    border-radius: 5px;
}

.form_header{
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.save_button{
    display: flex;
    align-items: center;
}

.save_button button{
    border: none;
    background-color: #005954;
    padding: 1rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.save_button button:hover{
    background-color: #09706b;
}

.save_button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form_header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #005954;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input_group{
    display: flex;
    flex-wrap: wrap;
}

.input_box{
    display: flex;
    margin: 0 4px;
    padding-top: 10px;
    
}

.input_box2{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    border-radius: 5px; 
}

.input_box input{
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input_box2 input{
    padding: 0.8rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    width: 100%;
}

/*-----------------BOX 2------------------*/

.general_stock{
    width: 100%;
    height: 100hv;
    margin-top: 2%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    
}

.input_box1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 2rem 0 25rem;
    border-radius: 5px; 
}

.input_box1 input{
    padding: 0.8rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    width: 96%;
}