@charset "UTF-8";

/* Typical Device Breakpoint
-----------------------------
Telas pequenas: até 600px
Celular: de 600px até 770px
Tablet: 770px até 990px
Desktop: 990px até 1200px
Telas grandes: acima de 1200px
*/
@media screen {
    section#login > div#img > div#box1{
        font-size: 14px;
        padding: 30px;
    }
    
}

@media screen and (min-width: 770px) and (max-width: 990px) { /*telas medias*/
    section#login {
        width: 85vw;
    }

    section#login > div#img {
        float: right;
        width: 30%;
        height: 100%;
    }

    section#login > div#form {
        float: left;
        width: 70%;
        margin-top: 15%;

    }
    section#login > div#img > div#box1{
        font-size: 16px;
    }
    
    
    
    
}

@media screen and (min-width: 990px) { /*telas grandes*/
    section#login {
        width: 950px;
    }
    section#login > div#img {
        float: right;
        width: 50%;
        height: 100%;
    }
    section#login > div#form {
        float: left;
        width: 50%;
        margin-top: 10%;

    }
    section#login > div#img > div#box1{
        font-size: 18px;
    }
   
    
    
}
